@charset "utf-8";
/* CSS Document */
body { 
	margin:0; 
	padding:0; 
	background:#FCC; 
	}
	
.keywords { 
	height:1px; 
	overflow:hidden; 
	opacity:0;
   }
* { transition:all .5s; }
.outer { width:700px; height:510px; margin-left:24%; margin-top:6%;  }
.add-box { height:110px; border:solid 1px; padding:20px; border-radius:15px; background:rgba(255,255,255,.5); }
.add-box a { text-decoration:none; }
.add-box div { float:left; height:100px; padding-left:30px; font-family:Georgia, "Times New Roman", Times, serif; }
.add-box h2 { margin:0; padding:0; margin-bottom:8px; font-family:Georgia, "Times New Roman", Times, serif; }
.contact-div div { float:left; height:300px; margin-top:50px;  }
.contact-form { width:700px; padding-left:10px; border:solid 1px; border-radius:20px; background:rgba(255,255,255,.5); }
.gmap { width:285px; border:solid 1px; margin-left:40px; border-radius:20px; background:rgba(255,255,255,.5); }
.gmap img { border-radius:20px; width:280px; height:310px; }
.email,.tarea { width:330px; }
.input1 { width:150px; }
#textarea { height:90px; }
.input:focus:invalid { border: solid 1px red; }
.input:valid { border: solid 1px green; }
#btn ,#btn1 {height:35px; border:solid 1px #666666; margin-left:50px; }
.input { height:20px; border:solid 1px #999999;  margin-top:20px; border-radius:4px; outline:none; padding:5px 10px; }
.sbtn { font-family:"Courier New", Courier, monospace; font-weight:bold; color:#330; font-size:20px; }
.sbtn:hover { -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); color:green; cursor:pointer }

.add-box:hover,.gmap:hover,.contact-form:hover { box-shadow:0 0 5px #333333; -webkit-transform:scale(1.1);
-moz-transform:scale(1.1); -ms-transform:scale(1.1); transform:scale(1.1); }